h1, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 35px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}